%head>
  %meta{ :charset => 'utf-8' }
  %title
    - if current_page.data.title == "About"
      = "About Jeff Zych"
    - elsif current_page.data.title == "Archives"
      = "Jeff Zych's Article Archives"
    - elsif current_page.data.title
      = "#{current_page.data.title} by Jeff Zych"
    - else
      = "Jeff Zych's Corner of the Internet"

  %meta{ :content => "Jeff Zych's Corner of the Internet", :name => "description" }
  %meta{ :content => "Jeff Zych", :name => "author" }
  %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
  %meta(name="apple-mobile-web-app-status-bar-style" content="black")
  %meta(name="apple-mobile-web-app-capable" content="yes")

  / FB Open Graph meta tags
  %meta(property="og:type" content="blog")
  %meta(property="og:site_name" content="Jeff Zych's Corner of the Internet")
  %meta(property="og:image" content="http://jlzych.com/images/monogram.png")
  %meta(property="og:image:type" content="image/png")
  %meta(property="og:image:width" content="512")
  %meta(property="og:image:height" content="512")
  %meta(property="og:url" content="http://jlzych.com#{current_page.url}")

  - if current_page.data.title
    %meta(property="og:title" content="#{current_page.data.title}")
  - else
    %meta(property="og:title" content="Jeff Zych's corner of the internet")

  -# Desktop browsers (including 16x16, 32x32 & 48x48 PNGs). Create on http://www.xiconeditor.com/
  =favicon_tag "/favicon.ico?v=2"

  -# Modern browsers (196x196 should cover all modern browsers)
  %link(rel="icon" type="image/png" href="/favicon.png")

  -# iOS & other mobile devices (ideally 180x180, at least 120x120)
  %link(rel="apple-touch-icon" href="touch-icon-iphone.png")

  %script( src="//cdn.optimizely.com/js/1111070510.js" )

  =stylesheet_link_tag "application"
  %link( rel="alternate" type="application/rss+xml" title="RSS for Jeff Zych" href="/feed.xml" )

  %script( type="text/javascript" src="//use.typekit.net/#{ current_page.data.typekit_id || 'kbr8kzk' }.js" )
  :javascript
    try{Typekit.load();}catch(e){}
