%head>
  %meta{ :charset => 'utf-8' }

  - @page_title = data.site.site_name

  - if is_blog_article?
    - @page_title = "#{current_page.data.title} by Jeff Zych"
  - elsif current_page.data.title
    - @page_title = current_page.data.title

  - @description = data.site.description
  - if current_page.data.description
    - @description = current_page.data.description

  - @image_url = "#{data.site.domain}/images/monogram.png"
  - if current_page.data.relative_image_url
    - @image_url = "#{data.site.domain}#{current_page.data.relative_image_url}"

  %title= @page_title

  %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
  %meta(name="apple-mobile-web-app-status-bar-style" content="black")
  %meta(name="apple-mobile-web-app-capable" content="yes")

  %meta{ :content => @description, :name => "description" }
  %meta{ :content => "Jeff Zych", :name => "author" }

  / FB Open Graph meta tags
  %meta(property="og:type" content="blog")
  %meta(property="og:site_name" content="#{data.site.site_name}")
  %meta(property="og:title" content="#{@page_title}")
  %meta(property="og:description" content="#{@description}")
  %meta(property="og:image" content="#{@image_url}")
  %meta(property="og:url" content="#{data.site.domain}#{current_page.url}")

  / Additional Twitter tags - additive with og: tags
  %meta(name="twitter:card" content="summary_large_image")
  %meta(name="twitter:creator" value="@jlzych")

  -# Desktop browsers (including 16x16, 32x32 & 48x48 PNGs). Create on http://www.xiconeditor.com/
  =favicon_tag "/favicon.ico?v=2"

  -# Modern browsers (196x196 should cover all modern browsers)
  %link(rel="icon" type="image/png" href="/favicon.png")

  -# iOS & other mobile devices (ideally 180x180, at least 120x120)
  %link(rel="apple-touch-icon" href="touch-icon-iphone.png")

  %script( src="//cdn.optimizely.com/js/1111070510.js" )

  =stylesheet_link_tag "application"
  -if current_page.data.stylesheet
    =stylesheet_link_tag "#{ current_page.data.stylesheet }", media: "all"

  %link( rel="alternate" type="application/rss+xml" title="RSS for Jeff Zych" href="/feed.xml" )

  %script( type="text/javascript" src="//use.typekit.net/#{ current_page.data.typekit_id || 'kbr8kzk' }.js" )
  :javascript
    try{Typekit.load();}catch(e){}
