%article
  %time.article__date{ datetime: article.date.strftime('%Y-%m-%d') }
    %i Posted on
    = article.date.strftime('%b %e, %Y')
    %i by
    Jeff Zych

  %h1.article__title= link_to article.title, article

  -if article.data.subtitle != nil
    %h2.article__subtitle= article.data.subtitle

  ~ article.body

  %p.follow-me
    Thoughts? Reply

    =link_to "@jlzych", "https://twitter.com/intent/tweet?screen_name=jlzych"

  %footer.tags.text-uppercase.text-small
    Tags:
    - article.tags.each do |tag|
      -# = link_to tag, tag_path(tag), { class: "tag", title: "Articles tagged #{tag}" }
      %span.tag= tag
