---
title: About Jeff Zych
layout: false
description: "I'm a humane designer & technologist who's passionate about building products to improve people's lives. Currently managing the product design team at Gladly. Formerly at Optimizely and Casetext."
relative_image_url: /images/me-banner.jpg

popular_posts: [
  { name: "Site Redesign I: The Guiding Concept",
    description: "As some of you may have noticed, I (semi-)recently gave my site a visual overhaul. It's far more opinionated than before, so I want to document my decision making process over the next couple of posts.",
    url: '/2020/01/27/site-redesign-i-the-guiding-concept/',
    image_url: '/images/2020-redesign/before-after.png' },
  { name: "Building an MVPP - A Minimum Viable Product we're Proud of",
    description: "On November 18th, 2014, we publicly released Optimizely's iOS editor. This was a big release for us because it marked the end of a months-long public beta in which we received a ton of customer feedback and built a lot of missing features.",
    url: '/2015/02/03/building-an-mvpp-a-minimum-viable-product-we-re-proud-of/',
    image_url: '/images/2015-02-03-building-an-mvpp-a-minimum-viable-product-we-re-proud-of/1-finished-editor.png' },
  { name: "What to expect if I'm you're manager",
    description: "This past January I started my new gig at Gladly, managing the product design team. I wrote a document to describe what my new team could expect from me as their manager. I decided to re-publish that document here. Enjoy.",
    url: '/2019/05/19/what-to-expect-if-i-m-your-manager/'},
  { name: Why I Became a Design Manager,
    description: "At the start of 2015, I officially became a Design Manager at Optimizely. I transitioned from an individual contributor, product design role into a leadership role. So why did I become a Design Manager?",
    url: '/2015/01/19/why-i-became-a-design-manager/',
    image_url: '' }
]

selected_work: [
  {
    title: "Implementing a Discovery process at Optimizely",
    subtitle: "How I reduced cost, increased revenue, and improved product quality by creating an explicit Discovery phase",
    relative_image_url: /images/case-studies/optimizely-discovery-kanban/4-fullwall.jpg,
    relative_url: /case-studies/optimizely-discovery-kanban/
  },
  {
    title: "Gladly’s Actions API",
    subtitle: "Designing a way for agents to trigger actions in external systems, without leaving Gladly",
    relative_image_url: /images/case-studies/gladly-actions-api/4-mid-fi-with-errors.jpg,
    relative_url: /case-studies/gladly-actions-api/
  }
]

---

!!! 5
%html
  = partial "head_tag"

  %body.about

    .container

      .about-banner
        = partial "header", { locals: { nav_classes: "nav-main--light" } }

        %a{ :href => "/", :title => "Home" }
          = partial "hello"

      %article{ :role => "main" }

        %section.about-content
          .about-intro
            %h1
              I’m Jeff, a multi-disciplinary product design leader

            %h2
              I'm passionate about unlocking the potential of design within organizations by designing the systems that design the product. I did this most recently at #{ link_to "Gladly", "https://www.gladly.com" } and #{ link_to "Optimizely", "https://www.optimizely.com" }.

        %section.about-content.about-story
          %p
            %span I ’ve defined my career by riding the line between design and code. I got my start building websites in high school, back when there was no distinction between “web design” and “web development,” and CSS wasn’t a “thing” yet. I indulged these twin interests by studying graphic communication and computer science at Cal Poly.

          %p After college I went down the programming path by joining Cityspan as a Data Warehouse Developer. Over time my design muse got restless and rescued me from the database by sending me to UC Berkeley’s School of Information. While there I cut my teeth on user-centered design, and learned a ton about sociology, law & policy, technology, research, design, behavioral economics, and more.

          %p
            While in grad school I took a class applying the learnings from behavioral economics to websites via <span class="text-small-caps">A/B</span> testing, which led me to join Optimizely after graduating. While there I continued moving between code and design, eventually becoming the head of the design team. In that role I #{ link_to "integrated research and design with the engineering team's Agile delivery process", "/2016/07/17/discovery-kanban-at-optimizely/" }, which helped teams focus on solving the biggest customer problems, and doubled the throughput of the design team. I also led the design systems team, which further brought design and engineering together while improved the quality of our UI.

          %p After 5 and half years I was ready for a change, so I joined Casetext to build modern, easy-to-use legal tech tools.

          %p Most recently I led the product design team at Gladly. While there I improved how teams designed & built features by documenting our end-to-end product development process, and defining the RACI for each stage. I also improved product quality by setting the vision for the team to ensure we’re pushing the product’s design forward in a consistent direction. Finally, I also led the design systems team, which improved product quality, and increased the speed of designing and building UIs

          %p Outside of work I like to play tennis, music (guitar, bass, and drums, but I’m pretty rusty now), <a href="/scribbles">hand letter</a>, write, and spend time with my lovely wife eating, drinking, and traveling.

        %section.quotes
          .quote-container.push-left
            .quote-image-container
              = image_tag "/images/about/bruno.png"
              %p.quote-name Bruno Bergher
              %p.quote-title VP of Product and Design at Gladly

            :markdown
              > Jeff is **thoughtfulness and empathy incarnate**. Yes, he's a very **thoughtful designer** and a **skilled leader of design teams**. But while managing him at Gladly, I saw how, into that package, he also packs: a prolific, precise writer; an analytical product manager (as he ran our design systems product team); a dedicated, disciplined people manager. You should work with Jeff and see it in practice.

          .quote-container.push-right
            .quote-image-container
              = image_tag "/images/about/claire.png"
              %p.quote-name Claire Vo
              %p.quote-title CPO at Optimizely

            :markdown
              > As Optimizely's design lead, Jeff had a **significant impact on the product, team and company culture**. Responsible for design, research and UI engineering, Jeff was **instrumental in delivering a "consumer-grade" user experience to Optimizely's customers**. [...] I was especially **impressed with his hiring and team building skills**; he put tons of thought into our interviewing and on-boarding processes, which lead to a happy and effective design team.

        %section.about-content.about-work
          %h2 Selected Work

          %ul.about-popular-posts
            - current_page.data.selected_work.each do |work|
              %li.card
                .card-image-top-container
                  =image_tag work.relative_image_url, :class => "card-image-top"
                .card-body
                  %h4.card-title
                    =link_to work.title, work.relative_url
                  %p.card-text
                    =work.subtitle
                  %p.card-link
                    =link_to "Read the case study", work.relative_url

        %section.about-content

          %h2 Popular Posts

          %ul.about-popular-posts
            - current_page.data.popular_posts.each do |post|
              %li.card
                -if post.image_url? and post.image_url != ''
                  .card-image-top-container
                    =image_tag post.image_url, :class => "card-image-top"
                .card-body
                  %h4.card-title
                    =link_to post.name, post.url
                  %p.card-text
                    =post.description

                  %p.card-link
                    =link_to "Keep reading &raquo;", post.url

        %section.about-beliefs
          .about-content
            %h2 A Few of My Beliefs About Design

            %ul
              %li Design is not the center of the universe. Design is one function of many at an organization.
              %li Other departments have more customer contact than you. Listen to them.
              %li Design needs to be aligned to the needs of the business, and deliver measurable business value. Don't design for design's sake.
              %li Design doesn't own the customer experience. A great customer experience is the emergent outcome of the contributions of every department.

            .justify-content-center
              %a{ :href => '/2018/12/03/my-beliefs-about-design/', :class => 'link-light' }
                Read the full list &raquo;

        %section.quotes
          .quote-container.push-left
            .quote-image-container
              = image_tag "/images/about/pete.png"
              %p.quote-name Pete Koomen
              %p.quote-title Co-founder of Optimizely

            :markdown
              > Jeff is a **strong design leader** who helped build Optimizely's design team from scratch. He knows how to hire & manage a design team, make them effective & efficient, and keep them happy. He has a **strong understanding of user centered design** and what it takes to ship great user experiences. He's also a **pleasure to work with** and a strong addition to any team.

          .quote-container.push-right
            .quote-image-container
              = image_tag "/images/about/susan.png"
              %p.quote-name Susan Park
              %p.quote-title Senior Product Designer at Gladly

            :markdown
              > Jeff was my manager at Gladly and I had a **great experience with him**! He made many improvements to our design team and framed our weeklys to share knowledge, frameworks, and build team harmony. He **always supported me and did what he could to unblock me**. I always looked forward to our meetings and would recommend him to help build any design team.

        %section.about-content
          %h2 Side Projects

          %ul
            %li
              %a{ :href => '/writing' } Principles of Writing Well
            %li
              %a{ :href => '/scribbles' } Hand-Lettering
            %li
              %a{ :href => 'http://codepen.io/jlzych/full/rjVoby/' } Sol LeWitt's Wall Drawing #273 (CodePen)
            %li
              %a{ :href => 'http://codepen.io/jlzych/full/OWyYPq/' } Ellsworth Kelly – Spectrum Colors Arranged by Chance V (CodePen)
            %li
              %a{ :href => 'http://codepen.io/jlzych/full/wgKbRK/' } Ellsworth Kelly – Spectrum Colors Arranged by Chance III (CodePen)
            %li
              %a{ :href => 'https://www.skillshare.com/classes/Discovery-Kanban-101-How-to-Integrate-User-Centered-Design-with-Agile/677077315?teacherRef=748023&via=teacher-referral&utm_campaign=teacher-referral&utm_source=ShortUrl&utm_medium=teacher-referral' } Discovery Kanban 101: How to Integrate User-Centered Design with Agile (Skillshare class)

        %section.about-talks

          .about-content

            %h2 Conference Talks

            %ul
              %li
                <a href='https://vimeo.com/243651831'>From 20/20 Hindsight to ESP at Optimizely</a> &mdash; An updated (and solo!) version of the talk below, given at Lean Kanban Central Europe, November 2017.
              %li
                <a href='https://www.youtube.com/watch?v=y8Ns5bdg0oo&list=PLVsUnwOzPqiSz8D0WYoUkKxZzzbmM0pPY&index=14'>From 20/20 Hindsight to ESP at Optimizely</a> &mdash; Given at Lean Kanban North America with <a href='https://twitter.com/keithadam'>Keith Nottonson</a>, May 2017.

        %section.about-content

          %h2 Get in Touch

          %p
            You can find me on <a href='http://twitter.com/jlzych'>Twitter</a>, <a href='http://instagram.com/jlzych'>Instagram</a>, <a href='https://medium.com/@jlzych'>Medium</a>, <a href='http://www.linkedin.com/in/jlzych/'>LinkedIn</a>, <a href='http://github.com/jlzych'>Github</a>, and Gmail (jlzych@). #{ link_to "View my full resume online", "/resume" }.

    = partial "footer_tag"

    = partial "ga"
