---
title: About Jeff Zych
layout: false
description: "I'm a humane designer & technologist who's passionate about building products to improve people's lives."
relative_image_url: /images/me-banner.jpg
---

!!! 5
%html
  = partial "head_tag"

  %body.about

    .about-banner
      = partial "header", { locals: { nav_classes: "nav-main--light" } }

      = partial "hello"

    #main{ :role => "main" }

      %article.content

        .about-intro
          %h1 I’m Jeff, a humane designer & technologist.

          %h2 I’m passionate about building products that improve people’s lives. I’m currently managing the product design team at Gladly. Formerly at Optimizely and Casetext.

        .about-story
          %p My career has been defined by riding the line between design and code. I got my start building websites in high school, back when there was no distinction between “web design” and “web development,” and CSS wasn’t a “thing” yet. I indulged these twin interests by studying graphic communication and computer science at Cal Poly.

          %p After college I went down the programming path by joining Cityspan as a Data Warehouse Developer. Over time my design muse got restless and rescued me from the depths of the database by sending me to UC Berkeley’s School of Information. While there I cut my teeth on user-centered design, and learned a ton about topics ranging from sociology, law & policy, technology, research, design, behavioral economics, and more.

          %blockquote.pullquote Over time my design muse got restless and rescued me from the depths of the database

          %p
            After grad school I joined Optimizely, jumping between code and design, and eventually becoming the head of the design team. After 5 and half years it was time for a change, so I joined Casetext to transform the legal tech landscape. Now I’m at Gladly, spreading my code and design chops by managing the product design team. View my full online resume.


          %p In my free time I like to play tennis, music (guitar, bass, and drums, but I’m pretty rusty now), hand letter, and write on this blog.

          %p
            This is my personal site that I use to <a href='/writing'>write</a> about <strong>design</strong>, <strong>code</strong>, <strong>A/B testing</strong>, and other topics that interests me.


        %ul
          %li
            %a{ :href => '/2016/07/17/discovery-kanban-at-optimizely/' } Discovery Kanban at Optimizely
          %li
            %a{ :href => '/2014/05/11/why-we-hire-ui-engineers-on-the-design-team/' } Why We Hire UI Engineers on the Design Team
          %li
            %a{ :href => '/2015/02/03/building-an-mvpp-a-minimum-viable-product-we-re-proud-of/' } Building an MVPP - A Minimum Viable Product we're Proud of
          %li
            %a{ :href => '/2015/08/30/get-comfortable-sharing-shitty-work/' } Get Comfortable Sharing Your Shitty Work
          %li
            %a{ :href => '/2015/01/19/why-i-became-a-design-manager/' } Why I Became a Design Manager
          %li
            %a{ :href => '/2015/03/22/hiring-designers-advice-from-twitter-uber-and-gopro/' } Hiring Designers: Advice from Twitter, Uber, and GoPro

        %h2 A Few of My Beliefs About Design

        %ul
          %li Design doesn't own the customer experience. A great customer experience is the emergent outcome of the contributions of every department.
          %li Design is not the center of the universe. Design is one function of many at an organization.
          %li Other departments have more customer contact than you. Listen to them.
          %li Done is better than perfect.
          %li Design needs to be aligned to the needs of the business, and deliver measurable business value. Don't design for design's sake.

        %a{ :href => '/2018/12/03/my-beliefs-about-design/' } Read the full list here.

        %h2 Side Projects

        %ul
          %li
            %a{ :href => '/writing' } Principles of Writing Well
          %li
            %a{ :href => '/scribbles' } Hand-Lettering
          %li
            %a{ :href => 'http://codepen.io/jlzych/full/rjVoby/' } Sol LeWitt's Wall Drawing #273 (CodePen)
          %li
            %a{ :href => 'http://codepen.io/jlzych/full/OWyYPq/' } Ellsworth Kelly – Spectrum Colors Arranged by Chance V (CodePen)
          %li
            %a{ :href => 'http://codepen.io/jlzych/full/wgKbRK/' } Ellsworth Kelly – Spectrum Colors Arranged by Chance III (CodePen)
          %li
            %a{ :href => 'https://www.skillshare.com/classes/Discovery-Kanban-101-How-to-Integrate-User-Centered-Design-with-Agile/677077315?teacherRef=748023&via=teacher-referral&utm_campaign=teacher-referral&utm_source=ShortUrl&utm_medium=teacher-referral' } Discovery Kanban 101: How to Integrate User-Centered Design with Agile (Skillshare class)

        %h2 Conference Talks

        %ul
          %li
            <a href='https://vimeo.com/243651831'>From 20/20 Hindsight to ESP at Optimizely</a> &mdash; An updated (and solo!) version of the talk below, given at Lean Kanban Central Europe, November 2017.
          %li
            <a href='https://www.youtube.com/watch?v=y8Ns5bdg0oo&list=PLVsUnwOzPqiSz8D0WYoUkKxZzzbmM0pPY&index=14'>From 20/20 Hindsight to ESP at Optimizely</a> &mdash; Given at Lean Kanban North America with <a href='https://twitter.com/keithadam'>Keith Nottonson</a>, May 2017.

        %h2 Get in Touch

        %p
          You can find me on <a href='http://twitter.com/jlzych'>Twitter</a>, <a href='http://instagram.com/jlzych'>Instagram</a>, <a href='https://medium.com/@jlzych'>Medium</a>, <a href='http://www.linkedin.com/in/jlzych/'>LinkedIn</a>, <a href='http://github.com/jlzych'>Github</a>, and Gmail (jlzych@).

      = partial "footer_tag"

    = partial "ga"
