---
title: About Jeff Zych
layout: false
description: "I'm a humane designer & technologist who's passionate about building products to improve people's lives. Currently managing the product design team at Gladly. Formerly at Optimizely and Casetext."
relative_image_url: /images/me-banner.jpg

selected_work: [
  {
    title: "Implementing a Discovery process at Optimizely",
    subtitle: "How I reduced cost, increased revenue, and improved product quality by creating an explicit Discovery phase",
    relative_image_url: /images/case-studies/discovery-kanban/4-fullwall.jpg,
    relative_url: /case-studies/optimizely-discovery-kanban/
  },
  {
    title: "Gladly’s Actions API",
    subtitle: "Designing a way for agents to trigger actions in external systems, without leaving Gladly",
    relative_image_url: /images/case-studies/gladly-actions-api/4-mid-fi-with-errors.jpg,
    relative_url: /case-studies/gladly-actions-api/
  }
]

---

!!! 5
%html
  = partial "head_tag"

  %body.about

    .container

      .about-banner
        = partial "header", { locals: { nav_classes: "nav-main--light" } }

        %a{ :href => "/", :title => "Home" }
          = partial "hello"

      %article{ :role => "main" }

        %section.about-content
          .about-intro
            %h1
              I’m Jeff, a product design leader, coder, and writer

            %h2
              :markdown
                I build high-performing design teams by uniting them around a common *Purpose*, defining their *Processes*, and growing *People*. I did this most recently at [Gladly](https://www.gladly.com) and [Optimizely](https://www.optimizely.com).

        %section.about-content.about-story

          :markdown
            The first time I uploaded an HTML file — a *file of plain text* — to a server and loaded it in a browser (IE 5), I was hooked. Anyone, anywhere in the world, could see what I had built. I had found the medium I would build my career on — the World Wide Web.

            Ever since that moment, I’ve defined my career by straddling the line between design and code. I got my start building websites in high school, back when there was no distinction between “design” and “development,” and CSS wasn’t a “thing” yet. I indulged these twin interests by studying **graphic communication** and **computer science** at Cal Poly.

            After college I went down the programming path by joining Cityspan as a Data Warehouse Developer. I built data models, database queries, reports, and UIs to access data. From that experience I discovered I could spend weeks tuning a SQL query to run faster, and customers would barely notice, or I could make a small tweak to the UI and get heaps of praise from customers. Which path would you pursue?

            To further my design education, I studied user-centered design at **UC Berkeley’s School of Information**. While there I learned about research methods, prototyping, testing, sociology, law & policy, behavioral economics, and more.

            I also took a class applying the learnings from behavioral economics to websites via <span class="text-small-caps">A/B</span> testing, which led me to join **Optimizely** after graduating. While there I continued moving between code and design, eventually becoming the **Head of Design**, leading a team of Product Designers, UX Researchers, and UI Engineers. In that role I [integrated research and design with the engineering team's Agile delivery process](/2016/07/17/discovery-kanban-at-optimizely/), which helped teams focus on solving the biggest customer problems, and doubled the throughput of the design team. I also led the design systems team, which further brought design and engineering together while improved the quality of our UI.

            After 5 and half years I was ready for a change, so I switched out of management and back to being a Product Designer at Casetext, where I helped build modern, easy-to-use legal tech tools.

            That experience showed me my true strength and passion is in **building and developing design teams**. I'm a better coach than player. More of a Brad Gilbert than a Federer (or a Phil Jackson, not Jordan, if basketball is more your thing).

            Most recently I led the product design team at Gladly. When I joined, the team produced good work that was easy to use, and they worked well with their cross-functional peers. My challenge was to take the team from *good* to *great*.

            That culminated in me working with the team to define the product's *personality* in order to forge a positive emotional connection with users, making the product more **pleasurable** and **unique**.

            I also improved how teams designed & built features by documenting our end-to-end product development process, and defining the RACI for each stage. I also led the design systems team, which improved product quality, and increased the speed of designing and building UIs.

            Outside of work I like to play tennis, music (guitar, bass, and drums, but I’m pretty rusty now), [hand letter](/scribbles), write, and spend time with my lovely wife eating, drinking, and traveling.

        %section.quotes
          .quote-container.push-left
            .quote-image-container
              = image_tag "/images/about/bruno.png"
              %p.quote-name Bruno Bergher
              %p.quote-title VP of Product and Design at Gladly

            :markdown
              > Jeff is **thoughtfulness and empathy incarnate**. Yes, he's a very **thoughtful designer** and a **skilled leader of design teams**. But while managing him at Gladly, I saw how, into that package, he also packs: a prolific, precise writer; an analytical product manager (as he ran our design systems product team); a dedicated, disciplined people manager. You should work with Jeff and see it in practice.

          .quote-container.push-right
            .quote-image-container
              = image_tag "/images/about/claire.png"
              %p.quote-name Claire Vo
              %p.quote-title Chief Product Officer at Optimizely

            :markdown
              > As Optimizely's design lead, Jeff had a **significant impact on the product, team and company culture**. Responsible for design, research and UI engineering, Jeff was **instrumental in delivering a "consumer-grade" user experience to Optimizely's customers**. [...] I was especially **impressed with his hiring and team building skills**; he put tons of thought into our interviewing and on-boarding processes, which lead to a happy and effective design team.

        %section.about-content.about-work

          %h2 Selected Work
          %ul.cards
            - current_page.data.selected_work.each do |work|
              %li.card
                .card-image-top-container
                  =image_tag work.relative_image_url, :class => "card-image-top"
                .card-body
                  %h4.card-title
                    =link_to work.title, work.relative_url
                  %p.card-text
                    =work.subtitle
                  %p.card-link
                    =link_to "Read the case study", work.relative_url

        %section.about-content
          %h2 Popular Posts
          %ul.cards
            -blog.articles.select {|a| a.data[:popular_post]}.each do |article|
              =partial :card, locals: { article: article }

        %section.about-beliefs
          .about-content
            %h2 A Few of My Beliefs About Design

            %ul
              %li Design is not the center of the universe. Design is one function of many at an organization.
              %li Other departments have more customer contact than you. Listen to them.
              %li Design needs to be aligned to the needs of the business, and deliver measurable business value. Don't design for design's sake.
              %li Design doesn't own the customer experience. A great customer experience is the emergent outcome of the contributions of every department.

            .justify-content-center
              %a{ :href => '/2018/12/03/my-beliefs-about-design/', :class => 'link-light' }
                Read the full list &raquo;

        %section.quotes
          .quote-container.push-left
            .quote-image-container
              = image_tag "/images/about/pete.png"
              %p.quote-name Pete Koomen
              %p.quote-title Co-founder of Optimizely

            :markdown
              > Jeff is a **strong design leader** who helped build Optimizely's design team from scratch. He knows how to hire & manage a design team, make them effective & efficient, and keep them happy. He has a **strong understanding of user centered design** and what it takes to ship great user experiences. He's also a **pleasure to work with** and a strong addition to any team.

          .quote-container.push-right
            .quote-image-container
              = image_tag "/images/about/susan.png"
              %p.quote-name Susan Park
              %p.quote-title Senior Product Designer at Gladly

            :markdown
              > Jeff was my manager at Gladly and I had a **great experience with him**! He made many improvements to our design team and framed our weeklys to share knowledge, frameworks, and build team harmony. He **always supported me and did what he could to unblock me**. I always looked forward to our meetings and would recommend him to help build any design team.

        %section.about-content
          %h2 Side Projects

          %ul
            %li
              %a{ :href => '/writing' } Principles of Writing Well
            %li
              %a{ :href => '/scribbles' } Hand-Lettering
            %li
              %a{ :href => 'http://codepen.io/jlzych/full/rjVoby/' } Sol LeWitt's Wall Drawing #273 (CodePen)
            %li
              %a{ :href => 'http://codepen.io/jlzych/full/OWyYPq/' } Ellsworth Kelly – Spectrum Colors Arranged by Chance V (CodePen)
            %li
              %a{ :href => 'http://codepen.io/jlzych/full/wgKbRK/' } Ellsworth Kelly – Spectrum Colors Arranged by Chance III (CodePen)
            %li
              %a{ :href => 'https://www.skillshare.com/classes/Discovery-Kanban-101-How-to-Integrate-User-Centered-Design-with-Agile/677077315?teacherRef=748023&via=teacher-referral&utm_campaign=teacher-referral&utm_source=ShortUrl&utm_medium=teacher-referral' } Discovery Kanban 101: How to Integrate User-Centered Design with Agile (Skillshare class)

        %section.about-talks

          .about-content

            %h2 Conference Talks

            %ul
              %li
                <a href='https://vimeo.com/243651831'>From 20/20 Hindsight to ESP at Optimizely</a> &mdash; An updated (and solo!) version of the talk below, given at Lean Kanban Central Europe, November 2017.
              %li
                <a href='https://www.youtube.com/watch?v=y8Ns5bdg0oo&list=PLVsUnwOzPqiSz8D0WYoUkKxZzzbmM0pPY&index=14'>From 20/20 Hindsight to ESP at Optimizely</a> &mdash; Given at Lean Kanban North America with <a href='https://twitter.com/keithadam'>Keith Nottonson</a>, May 2017.

        %section.about-content

          %h2 Get in Touch

          %p
            You can find me on <a href='http://twitter.com/jlzych'>Twitter</a>, <a href='http://instagram.com/jlzych'>Instagram</a>, <a href='https://medium.com/@jlzych'>Medium</a>, <a href='http://www.linkedin.com/in/jlzych/'>LinkedIn</a>, <a href='http://github.com/jlzych'>Github</a>, and Gmail (jlzych@). #{ link_to "View my full resume online", "/resume" }.

    = partial "footer_tag"
    = partial "noise"
    = partial "ga"
