---
title: Jeff Zych's Article Archives
description: Archive of all of my articles, dating back to 2013 when I first started blogging.
pageable: true
per_page: 50
---

%h1 Archives

- page_articles.group_by {|a| a.date.year }.each do |year, articles|
  %section
    %h2
      %time= year

    - articles.each do |article|
      %p
        = link_to article.title, article
        -# &mdash;
        %time.archives__post-date{ datetime: article.date.strftime('%Y-%m-%d') }= "(#{ article.date.strftime('%b %e')})"

- if paginate
  %p.pagination.justify-content-center
    - if prev_page
      = link_to "&laquo; Previous page", prev_page, { class: "paginate-previous button-light button-small" }
    - if next_page
      = link_to "Next page &raquo;", next_page, { class: "paginate-next button-light button-small" }
