!!! 5
%html
  = partial "head_tag"

  %body
    #main{ :role => "main" }
      %header
        %h1.monogram
          =link_to "/", { title: "Home" } do
            =image_tag "monogram.svg", { alt: "JZ" }
            Jeff Zych

        %nav{ :class => "nav-main #{current_page.data.nav_classes}" }
          %ul
            %li=link_to "About Me", "/about", { title: "About Jeff Zych" }
            %li=link_to "Archives", "/archives"

      .content= yield

      = partial "footer_tag"

    = partial "ga"
