!!! 5
%html
  = partial "head_tag"

  %body
    .container
      .grid{ :role => "main" }
        = partial "header"

        .content
          = yield

    = partial "noise"
    = partial "footer_tag"
    = partial "ga"
