---
title: "Scribbles & Letters"
---

<h1><%= current_page.data.title %></h1>

<h2 id="fudenosukefine">Fudenosuke Fine Tip Colors</h2>

<%= image_tag "scribbles/1811-1-fudenosukefine.jpg" %>

<h2 id="ohshit">Oh Shit</h2>

<%= image_tag "scribbles/1807-5-ohshit.jpg" %>

<h2 id="electric">Electric</h2>

<%= image_tag "scribbles/1807-4-electric.jpg" %>

<h2 id="montana">Montana</h2>

<%= image_tag "scribbles/1807-3-montana.jpg" %>

<h2 id="hellyeah">Hell Yeah</h2>

<%= image_tag "scribbles/1807-2-hellyeah.jpg" %>

<h2 id="hombre">Hombre</h2>

<%= image_tag "scribbles/1807-1-hombre.jpg" %>

<h2 id="guacamole">Guacamole</h2>

<%= image_tag "scribbles/1806-4-guacamole.jpg" %>

<h2 id="minimum">Minimum</h2>

<%= image_tag "scribbles/1806-3-minimum.jpg" %>

<h2 id="june">June</h2>

<%= image_tag "scribbles/1806-2-june.jpg" %>

<%= image_tag "scribbles/1806-2-june2.jpg" %>

<h2 id="riseandshine">Rise and Shine</h2>

<%= image_tag "scribbles/1806-1-riseandshine.jpg" %>

<h2 id="imagination">Imagination</h2>

<%= image_tag "scribbles/1805-2-imagination.jpg" %>

<h2 id="hello">Hello</h2>

<p>
  These are all the "Hello"s I explored for my
  <%= link_to "about page.", "/about", { title: "About Jeff Zych" } %>
</p>

<%= image_tag "scribbles/1805-1-hello.jpg" %>

<%= image_tag "scribbles/1805-1-hello2.jpg" %>

<%= image_tag "scribbles/1805-1-hello3.jpg" %>

<%= image_tag "scribbles/1805-1-hello4.jpg" %>

<%= image_tag "scribbles/1805-1-hello5.jpg" %>

<h2 id="nevertheless">Nevertheless</h2>

<%= image_tag "scribbles/1804-3-nevertheless.jpg" %>

<h2 id="about">About</h2>

<%= image_tag "scribbles/1804-2-about.jpg" %>

<h2 id="handlettering">Hand Lettering</h2>

<%= image_tag "scribbles/1804-1-handlettering.jpg" %>

<%= image_tag "scribbles/1804-1-handlettering2.jpg" %>

<h2 id="signletter">Sign Letter Alphabet</h2>

<%= image_tag "scribbles/1803-7-signletters.jpg" %>

<%= image_tag "scribbles/1803-7-signletters2.jpg" %>

<%= image_tag "scribbles/1803-7-signletters3.jpg" %>

<%= image_tag "scribbles/1803-7-signletters4.jpg" %>

<h2 id="masterpiece">Masterpiece</h2>

<%= image_tag "scribbles/1803-6-masterpiece.jpg" %>

<h2 id="ch">ch</h2>

<%= image_tag "scribbles/1803-5-ch.jpg" %>

<h2 id="highlight">Highlight</h2>

<%= image_tag "scribbles/1803-4-highlight.jpg" %>

<h2 id="jz">JZ</h2>

These are all the options I explored for the JZ monogram at the top of the site.

<%= image_tag "scribbles/1803-3-jz.jpg" %>

<%= image_tag "scribbles/1803-3-jz2.jpg" %>

<%= image_tag "scribbles/1803-3-jz3.jpg" %>

<%= image_tag "scribbles/1803-3-jz4.jpg" %>

<%= image_tag "scribbles/1803-3-jz5.jpg" %>

<%= image_tag "scribbles/1803-3-jz6.jpg" %>

<%= image_tag "scribbles/1803-3-jz7.jpg" %>

<h2 id="shade">Shade</h2>

<%= image_tag "scribbles/1803-2-shade.jpg" %>

<h2 id="death">Death</h2>

<%= image_tag "scribbles/1803-1-death.jpg" %>

<h2 id="witchcraft">Witchcraft</h2>

<%= image_tag "scribbles/1802-10-witchcraft.jpg" %>

<h2 id="kimono">Kimono</h2>

<%= image_tag "scribbles/1802-9-kimono.jpg" %>

<h2 id="modern-alphabet">Modern Alphabet</h2>

<%= image_tag "scribbles/1802-8-modern-alphabet.jpg" %>

<h2 id="saturday">Saturday</h2>

<%= image_tag "scribbles/1802-7-saturday.jpg" %>

<h2 id="toffee-best">Toffee / Best</h2>

<%= image_tag "scribbles/1802-6-toffee-best.jpg" %>

<h2 id="winter-olympics">Winter Olympics</h2>

<%= image_tag "scribbles/1802-5-winter-olympics.jpg" %>

<%= image_tag "scribbles/1802-4-winter.jpg" %>

<h2 id="yellow">Yellow</h2>

<%= image_tag "scribbles/1802-3-yellow.jpg" %>

<h2 id="y2">Y (again)</h2>

<%= image_tag "scribbles/1802-2-y2.jpg" %>

<h2 id="dreams">Dreams</h2>

<%= image_tag "scribbles/1802-1-dreams.jpg" %>

<h2 id="xanadu">Xanadu</h2>

<%= image_tag "scribbles/1801-4-xanadu.jpg" %>

<h2 id="y">Y</h2>

<%= image_tag "scribbles/1801-3-y.jpg" %>

<h2 id="whiskey">Whiskey</h2>

<%= image_tag "scribbles/1801-2-whiskey.jpg" %>

<h2 id="umbrage">Umbrage</h2>

<%= image_tag "scribbles/1801-1-umbrage.jpg" %>

<h2 id="gold-silver">Gold / Silver</h2>

<%= image_tag "scribbles/1712-5-gold-silver.jpg" %>

<h2 id="chaos">Chaos</h2>

<%= image_tag "scribbles/1712-4-chaos.jpg" %>

<p>
  <a href="/scribbles2">Scribbles & Letters, Page 2 (even older shit) &raquo;</a>
</p>
