---
title: "Scribbles & Letters, Page 2"
---

<h1><%= current_page.data.title %></h1>


<h2 id="trippy">Trippy</h2>

<%= image_tag "scribbles/1712-3-trippy.jpg" %>

<h2 id="gracias">Gracias</h2>

<%= image_tag "scribbles/1712-2-gracias.jpg" %>

<h2 id="traditional">Traditional</h2>

<%= image_tag "scribbles/1712-1-traditional.jpg" %>

<h2 id="design">Design</h2>

<%= image_tag "scribbles/1711-5-design.jpg" %>

<h2 id="reputation">Reputation</h2>

<%= image_tag "scribbles/1711-4-reputation.jpg" %>

<h2 id="did-mom-eat-chocolate-all-day">Did Mom Eat Chocolate All Day?</h2>

<%= image_tag "scribbles/1711-3-did-mom-eat-chocolate-all-day.jpg" %>

<h2 id="nothing-zilch">Nothing / Zilch</h2>

<%= image_tag "scribbles/1711-2-nothing-zilch.jpg" %>

<h2 id="almond">Almond</h2>

<%= image_tag "scribbles/1711-1-almond.jpg" %>

<%= image_tag "scribbles/1711-1-warmup.jpg" %>
<em>Warm-ups</em>

<h2 id="atelier">Atelier</h2>

<%= image_tag "scribbles/1710-3-atelier.jpg" %>

<h2 id="dad-wrote-a">My Dad Wrote a Porno</h2>

<%= image_tag "scribbles/1710-2-dad-wrote-a-porno.jpg" %>

<h2 id="museum">Museum</h2>

<%= image_tag "scribbles/1710-1-museum.jpg" %>

<h2 id="fitter">Fitter, Happier, More Productive</h2>

<%= image_tag "scribbles/1708-7-fitter-happier.jpg" %>

<h2 id="black">Black</h2>

<%= image_tag "scribbles/1708-6-black.jpg" %>

<h2 id="fabric">Fabric</h2>

<%= image_tag "scribbles/1708-5-fabric.jpg" %>

<h2 id="sunshine">Sunshine</h2>

<%= image_tag "scribbles/1708-4-sunshine.jpg" %>

<h2 id="truffle">Truffle</h2>

<%= image_tag "scribbles/1708-3-truffle.jpg" %>

<h2 id="alphabet1708">Alphabet</h2>

<%= image_tag "scribbles/1708-2-alphabet.jpg" %>

<p>Experimenting with a new style</p>

<h2 id="cabbage">Cabbage</h2>

<%= image_tag "scribbles/1708-1-cabbage.jpg" %>

<h2 id="aluminum">Aluminum and Warm-ups</h2>

<%= image_tag "scribbles/1707-1-warmups.jpg" %>

<%= image_tag "scribbles/1707-2-aluminum1.jpg" %>

<%= image_tag "scribbles/1707-3-aluminum2.jpg" %>

<h2 id="create-calm">Create Calm</h2>

<%= image_tag "scribbles/1706-3-create-calm.jpg" %>

<h2 id="candy">Candy</h2>

<%= image_tag "scribbles/1706-2-candy.jpg" %>

<h2 id="alphabet-june17">Alphabet</h2>

<%= image_tag "scribbles/1706-1-alphabet.jpg" %>

<h2 id="thursday">Thursday</h2>

<%= image_tag "scribbles/1704-6-thursday.jpg" %>

<h2 id="wednesday">Wednesday</h2>

<%= image_tag "scribbles/1704-5-wednesday.jpg" %>

<p>It's almost shocking how easy it is to miss those typos</p>

<h2 id="warmth">Warmth</h2>

<%= image_tag "scribbles/1704-4-warmth.jpg" %>

<h2 id="capitals">Capital Letters</h2>

<%= image_tag "scribbles/1704-3-capitals1.jpg" %>

<%= image_tag "scribbles/1704-3-capitals2.jpg" %>

<h2 id="energy">Energy</h2>

<%= image_tag "scribbles/1704-2-energy.jpg" %>

<h2 id="capitals">Mad Love</h2>

<%= image_tag "scribbles/1704-1-madlove.jpg" %>

<h2 id="elemental">Elemental / Simple</h2>

<%= image_tag "scribbles/1703-5-elemental-simple.jpg" %>

<h2 id="capitals">Breathe</h2>

<%= image_tag "scribbles/1703-4-breathe.jpg" %>

<h2 id="capitals">Swimming</h2>

<%= image_tag "scribbles/1703-3-swimming.jpg" %>

<h2 id="ocean">Ocean / Sail Away</h2>

<%= image_tag "scribbles/1703-2-ocean.jpg" %>

<h2 id="b1">B</h2>

<%= image_tag "scribbles/1703-1-B.jpg" %>

<h2 id="blends">Blending Pen</h2>

<%= image_tag "scribbles/1702-5-blends.jpg" %>

<p>Just figured out how to use my blending pen, so this is me playing around with that.</p>

<h2 id="erstwhile">Erstwhile</h2>

<%= image_tag "scribbles/1702-4-erstwhile.jpg" %>

<h2 id="every">Every</h2>

<%= image_tag "scribbles/1702-3-every.jpg" %>

<h2 id="zoology">Zoology</h2>

<%= image_tag "scribbles/1702-2-zoology.jpg" %>

<h2 id="guest">Guest</h2>

<%= image_tag "scribbles/1702-1-guest.jpg" %>

<h2 id="purple-haze">Purple Haze</h2>

<%= image_tag "scribbles/1701-16-purple-haze.jpg" %>

<p>Close-up of the shitty job I did outlining "Sky." Enjoy.</p>

<h2 id="colors">Colors!</h2>

<%= image_tag "scribbles/1701-15-colors.jpg" %>

<%= image_tag "scribbles/1701-15-colors2.jpg" %>

<p>
  Just got some
  <a href="http://tombowusa.com/dual-brush-pen-784.html">Tombow Dual Brush pens.</a>
  Pretty sweet.
</p>

<h2 id="alpha-caps">More alphabet. Caps.</h2>

<%= image_tag "scribbles/1701-14-alpha-caps.jpg" %>

<h2 id="breathe">Breathe</h2>

<%= image_tag "scribbles/1701-13-breathe.jpg" %>

<h2 id="stay">Stay</h2>

<%= image_tag "scribbles/1701-12-stay.jpg" %>

<h2 id="bullocks">Bullock's</h2>

<%= image_tag "scribbles/1701-11-bullocks.jpg" %>

<h2 id="wait">Wait, but Why?</h2>

<%= image_tag "scribbles/1701-10-wait1.jpg" %>

<%= image_tag "scribbles/1701-10-wait2.jpg" %>

<h2 id="alphabet-swashes">Alphabet; Swashes</h2>

<%= image_tag "scribbles/1701-9-alphabet-swashes.jpg" %>

<h2 id="home">Home</h2>

<%= image_tag "scribbles/1701-8-home.jpg" %>

<h2 id="you-my-are">You. My. Are.</h2>

<%= image_tag "scribbles/1701-7-you-my-are.jpg" %>

<h2 id="arden">Arden</h2>

<%= image_tag "scribbles/1701-6-arden.jpg" %>

<h2 id="linesdots">Lines n' Dots</h2>

<%= image_tag "scribbles/1701-5-linesdots.jpg" %>

<h2 id="happy">Happy :)</h2>

<%= image_tag "scribbles/1701-4-happy.jpg" %>

<h2 id="angle-flower">Angle. Flower.</h2>

<%= image_tag "scribbles/1701-3-angle-flower.jpg" %>

<h2 id="green">Green</h2>

<%= image_tag "scribbles/1701-2-green.jpg" %>

<h2 id="alphabet1">Alphabet</h2>

<%= image_tag "scribbles/1701-1-alphabet.jpg" %>

<h2 id="sunset">Sunset</h2>

<%= image_tag "scribbles/1612-30-sunset.jpg" %>

<h2 id="puzzle">Puzzle</h2>

<%= image_tag "scribbles/1612-29-puzzle.jpg" %>

<h2 id="girlfriends">Girlfriends</h2>

<%= image_tag "scribbles/1612-27-girlfriend.jpg" %>

<%= image_tag "scribbles/1612-28-girlfriend.jpg" %>

<h2 id="bb">bb</h2>

<%= image_tag "scribbles/1612-26-bb.jpg" %>

<h2 id="angle">Angle</h2>

<%= image_tag "scribbles/1612-25-angle.jpg" %>

<h2 id="southwest">Southwest</h2>

<%= image_tag "scribbles/1612-24-southwest.jpg" %>

<p>My Southwest flight back to the bay was delayed, so I scribbled out some Southwests.</p>

<h2 id="a">a</h2>

<%= image_tag "scribbles/1612-23-a.jpg" %>

<h2 id="xmas">Merry Christmas!</h2>

<%= image_tag "scribbles/1612-22-christmas.jpg" %>

<%= image_tag "scribbles/1612-21-merry.jpg" %>

<%= image_tag "scribbles/1612-20-merry.jpg" %>

<%= image_tag "scribbles/1612-19-merryxmas.jpg" %>

<%= image_tag "scribbles/1612-18-merry.jpg" %>

<%= image_tag "scribbles/1612-17-merry.jpg" %>

<h2 id="ohuh">Oh. Uh...</h2>

<%= image_tag "scribbles/1612-16-ohuh.jpg" %>

<h2 id="invited">Invited</h2>

<%= image_tag "scribbles/1612-15-invited.jpg" %>

<p>I got a new <a href="http://www.jetpens.com/Pentel-Pocket-Brush-Pen-XGFKP-A/pd/1793">Pentel Pocket Brush pen</a>, which has a nylon brush tip, creates great think and thin lines, and feels really smooth to write with.</p>

<h2>Rando Scribbles</h2>

<%= image_tag "scribbles/1612-14.jpg" %>

<h2 id="borders">Borders</h2>

<%= image_tag "scribbles/1612-13-borders.jpg" %>

<h2 id="flour">Flour</h2>

<%= image_tag "scribbles/1612-12-flour.jpg" %>

<h2 id="f2">F</h2>

<%= image_tag "scribbles/1612-11-f.jpg" %>

<h2 id="snail">Snail</h2>

<%= image_tag "scribbles/1612-10-snail.jpg" %>

<h2 id="aqua">Aqua</h2>

<%= image_tag "scribbles/1612-9-aqua.jpg" %>

<h2>W, Queen, The</h2>

<%= image_tag "scribbles/1612-8.jpg" %>

<h2 id="ventura">Ventura</h2>

<%= image_tag "scribbles/1612-7-ventura.jpg" %>

<%= image_tag "scribbles/1612-6-ventura.jpg" %>

<%= image_tag "scribbles/1612-5-v.jpg" %>


<h2 id="happyholidays">Happy Holidays</h2>

<%= image_tag "scribbles/1612-4-hhcloseup.jpg" %>

<%= image_tag "scribbles/1612-3-happyholidays.jpg" %>

<%= image_tag "scribbles/1612-2-happyholidays.jpg" %>

<%= image_tag "scribbles/1612-1-happyholidays.jpg" %>


<h2 id="scallops">Scallops</h2>

<%= image_tag "scribbles/1611-2-scallops.jpg" %>

<h2 id="gum">Gum</h2>

<%= image_tag "scribbles/1611-1-gum.jpg" %>

<h2 id="foot">Foot + Lines</h2>

<%= image_tag "scribbles/foot.jpg" %>

<h2 id="geo1">Geometric Patterns</h2>

<%= image_tag "scribbles/geometric1.jpg" %>

<h2 id="warmup1">Warm-ups #1</h2>

<%= image_tag "scribbles/warm-ups1.jpg" %>

<h2 id="warmup2">Warm-ups #2</h2>

<%= image_tag "scribbles/warm-ups2.jpg" %>

<h2 id="zags">Zags</h2>

<%= image_tag "scribbles/zags.jpg" %>

<h2 id="cyanotype-bday">Cyanotype Birthday Greeting</h2>

<%= image_tag "scribbles/cyanotype-bday.jpg" %>

<h2 id="doodles-letters">Doodles & Letters</h2>

<%= image_tag "scribbles/doodles-letters.jpg" %>

<h2 id="goldsmiths">Goldsmiths</h2>

<%= image_tag "scribbles/goldsmiths.jpg" %>

<h2 id="olds">Olds</h2>

<%= image_tag "scribbles/olds.jpg" %>

<h2 id="curves1">Curves</h2>

<%= image_tag "scribbles/curves1.jpg" %>

<h2 id="k">Ks and Kellys</h2>

<%= image_tag "scribbles/k.jpg" %>

<h2 id="playbill">Playbill Practice</h2>

<%= image_tag "scribbles/playbill.jpg" %>

<h2 id="mothersday">Mother's Day</h2>

<%= image_tag "scribbles/md-process1.jpg" %>

<%= image_tag "scribbles/md-process2.jpg" %>

<%= image_tag "scribbles/md-process3.jpg" %>

<%= image_tag "scribbles/md-final.jpg" %>
<em>Final card!</em>

<h2 id="f">F</h2>

<%= image_tag "scribbles/f.jpg" %>
<em>4/24/16</em>

<h2 id="g">G</h2>

<%= image_tag "scribbles/g.jpg" %>
<em>4/23/16</em>

<h2 id="m">M</h2>

<%= image_tag "scribbles/m.jpg" %>
<em>4/21/16</em>

<h2 id="j">J</h2>

<%= image_tag "scribbles/j.jpg" %>
<em>4/19/16</em>
