---
title: "Principles of Writing Well"
layout: false
typekit_id: "nfs8xne"
last_updated_date: "4/10/16"
---

!!! 5
%html
  = partial "head_tag"

  %body.writing
    %header.writing__header.u-full-width
      %h1.writing__headline
        %span.writing__headline--intro

          %span.arrow.arrow--left= partial "arrow"
          %span.arrow.arrow--right= partial "arrow"

          Principles of

        Writing Well

    #main{ :role => "main" }

      %article.content.writing__content
        = partial "writing_principles"

        %hr

        %em= "Last updated on #{current_page.data.last_updated_date}"

      = partial "footer_tag"

    = partial "noise"
    = partial "ga"

  / Custom page scripts
  :javascript
    if (document.querySelector) {
      // Rotate the hue of the header based on the day of the year
      var today = new Date();
      var hueValue = today.getDate() + today.getMonth() * 30.4;
      var hueString = "hue-rotate(" + hueValue + "deg)";

      var header = document.querySelector(".writing__header");
      header.style.webkitFilter = hueString;
      header.style.filter = hueString;

      // Add anchor links to the headlines
      var headlines = document.querySelector(".writing__content").querySelectorAll("h1, h2, h3, h4, h5, h6");
      var link, headline;
      var i = 0;

      for (i; i < headlines.length; i++) {
        headline = headlines[i];

        // Only do this shiz if this function exists
        if (headline.insertAdjacentHTML) {
          link = document.createElement("a");
          link.text = "#";
          link.href = "#" + headline.id;
          link.classList.add("headline-anchor-link");

          headline.insertAdjacentHTML(
            "beforeend",
            "<a href='#" + headline.id + "' class='headline-anchor-link'>#</a>"
          );
        }
      }
    }
